   .custom-calendar {
    width: 100% !important;
    max-width: 500px;
    height: auto; /* 자동 높이 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .custom-calendar .react-calendar {
    width: 100% !important;
    height: 100% !important;
  }
  
  .custom-calendar .react-calendar__tile {
    max-width: initial !important;
    height: 58px !important; /* 각 셀의 기본 높이 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  .custom-calendar .react-calendar__tile abbr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0; /* 패딩 제거하여 정사각형 유지 */
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .custom-calendar .react-calendar__tile--now {
    background: #3F51B5 !important; /* 파란색 */
    border-radius: 8px !important; /* 모서리가 둥근 정사각형 */
    color: white !important;
    width: 36px; /* 정사각형 유지 */
    height: 36px; /* 정사각형 유지 */
  }
  
  .custom-calendar .react-calendar__tile--active {
    background: none !important; /* 비어있는 사각형 */
    border: 2px solid #3F51B5 !important; /* 파란색 테두리 */
    border-radius: 8px !important; /* 모서리가 둥근 정사각형 */
    color: black !important;
    width: 36px; /* 정사각형 유지 */
    height: 36px; /* 정사각형 유지 */
  }
  
  .custom-calendar .react-calendar__tile:hover {
    background: #5565c3 !important; /* 마우스 오버 시 색상 */
    border-radius: 8px !important; /* 모서리가 둥근 정사각형 */
    color: white !important;
    width: 36px; /* 정사각형 유지 */
    height: 36px; /* 정사각형 유지 */
  }
  
  .custom-calendar .react-calendar__month-view__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .custom-calendar .react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden; /* 이웃하는 달의 날짜를 숨김 */
  }
  
  
  