:root {
  /*기본 버튼*/
  --primary-color: #d8c3a5; 
  /*텍스트*/
  --secondary-color: #808080; 
  /*배경*/
  --background-color: #EAE7DC; 
  /*버튼 hover*/
  --btn-hover: #cfae7f; 
  /*체크박스, 토글 */
  --checked-bg-color: #e85a4f;  
  --checkbox-hover-bg:  #f9d4d2;
  --toggle-hover-bg: #e98074;
  --toggle-default-bg: #c6c4c4; 
  /*기본 화이트*/
  --default-white: #fff;
}

body, html, #root {
  background-color: var(--background-color);
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.expandable-button-container {
  display: flex;
  justify-content: flex-end;
}

.expandable-button {
  padding: 8px;
  border-radius: 10px;
  transition: margin-left 0.3s;
}

.expandable-button:hover {
  border-radius: 5px;
}

.section-title {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.section-title img {
  margin-left: 8px;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.section-title h6 {
  font-size: 1.5rem;
  font-weight: bold;
}

.status-text {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1rem;
}

/* Button Styles */
.button-disabled {
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  background-color: var(--default-white) !important;
}

.button-enabled {
  border-color: var(--primary-color) !important;
  color: var(--default-white) !important;
  background-color: var(--primary-color) !important;
}

.button-hovered {
  border-color: var(--btn-hover) !important;
  color: var(--default-white) !important;
  background-color: var(--btn-hover) !important;
}

.button-enabled:hover {
  /*border-color: var(--hover-border-color) !important;*/
  color: var(--default-white) !important;
}

/* Logout Button Style */
.logout-button {
  color: black !important;
  background-color: var(--primary-color) !important;
  font-weight: 500 !important;
}
.logout-button :hover {
  /*border-color: var(--hover-border-color) !important;*/
  color: var(--default-white) !important;
  font-weight: 500 !important;
}

