body, html, #root {
  background-color: #F0F2F5;
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.expandable-button-container {
  display: flex;
  justify-content: flex-end;
}

.expandable-button {
  padding: 8px;
  border-radius: 10px; /* 사각형 테두리 */
  transition: margin-left 0.3s;
}

.expandable-button:hover {
  border-radius: 5px; /* 사각형 테두리 */
}

.section-title {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.section-title img {
  margin-left: 8px; /* 아이콘을 오른쪽으로 이동 */
  margin-right: 10px;
  width: 24px; /* 아이콘 크기 조정 */
  height: 24px; /* 아이콘 크기 조정 */
}

.section-title h6 {
  font-size: 1.5rem; /* 제목 글자 크기 */
  font-weight: bold; /* 글자 굵기 */
}

.status-text {
  color: #808080;
  font-weight: bold;
  font-size: 1rem;
}

/* Button Styles */
.button-disabled {
  border-color: #808080 !important;
  color: #808080 !important;
  background-color: #fff !important;
}

.button-enabled {
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
  background-color: #fff !important;
}

.button-hovered {
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
  background-color: #F1F2FA !important;
}

/* Custom Checkbox Styles */
.custom-checkbox-root {
  color: rgb(117, 117, 117); /* 기본 상태 테두리 색상 */
}

.custom-checkbox-root:hover {
  background-color: #e5e7f6fb; /* 마우스 커서가 체크박스 위에 위치했을 때 */
}

.custom-checkbox-checked {
  color: #3f51b5 !important; /* 체크된 상태의 색상 */
}

.custom-checkbox-checked .MuiIconButton-label:after {
  color: #fff; /* 체크 표시의 색상 */
}
